.text-long {
  span {
    color: var(--main);
  }
}

option:focus {
  color: pink;
}
select:focus {
  color: pink;
}

.logos {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & > * {
    width: 1.75rem;
    height: 1.75rem;

    border-radius: 50%;
    padding: 0.1rem;
  }

  & > *:not(:nth-child(5)) {
    box-shadow: 0 0 8px 1.5px var(--main);
  }
}
