.skill-text {
  p {
    margin-bottom: 0.5rem;
  }
  span {
    color: var(--main);
  }
}

.logos {
  width: 95%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  .logo-wrapper {
    & > * {
      width: 100%;
      height: 100%;

      border-radius: 50%;
      padding: 0.1rem;
    }
  }
  & > div > *:not(:nth-child(5)) {
    box-shadow: 0 0 8px 1.5px var(--main);
  }
}
